@charset "utf-8";

html,body{width: 100%;height: 100%;/* overflow: hidden; */}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,input,p,span,tr,td{margin:0;padding:0;}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}
input{ border:0;}input:focus{ outline:none}
em,i{font-style:normal;font-weight:normal}
ul,ol{list-style:none}
h1,h2,h3,h4,h5 {font-size:100%;font-weight:normal}
/*================================ Global css========================*/
body{ font:14px "微软雅黑","Microsoft Yahei",\5b8b\4f53,Arial,sans-serif; background:#fff}
a{color:#122e67;text-decoration:none}
a:hover{color:#ff8400;}
.clearfix {*zoom: 1;}
.clearfix:before,.clearfix:after {display: table;content:""; height:0px;line-height: 0;}
.clearfix:after {clear: both;}
.fl{ float:left}
.fr{ float:right}
.pr{position:relative}
.tac{text-align: center;}